
  .theme-dark{
    --bg-color: #222;
    --text-color: whitesmoke;
    --logo-color: white;
    --bg-soft: #333;
    --text-color-soft: lightgray;
    --border: #444;
  }

  .theme-light{
    --bg-color: #fff;
    --text-color: #000;
    --logo-color: #000;
    --bg-soft: #f6f3f3;
    --text-color-soft: #555;
    --border: lightgray;
  }


 